In [1]:
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
# Predict chance of acceptance based on GRE score
my_GRE_score = np.array(320).reshape(1,-1)

In [3]:
df = pd.read_csv('../Resources/admissions.csv')
df.head()

   Serial No.  GRE Score  Chance of Admit
0           1        337             0.92
1           2        324             0.76
2           3        316             0.72
3           4        322             0.80
4           5        314             0.65