In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

# Import our input dataset
attrition_df = pd.read_csv('HR-Employee-Attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [2]:
# Generate our categorical variable lists
attrition_cat = attrition_df.dtypes[attrition_df.dtypes == "object"].index.tolist()

In [3]:
# Check the number of unique values in each column
attrition_df[attrition_cat].nunique()

Attrition         2
BusinessTravel    3
Department        3
EducationField    6
Gender            2
JobRole           9
MaritalStatus     3
Over18            1
OverTime          2
dtype: int64

In [4]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(attrition_df[attrition_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(attrition_cat)
encode_df.head()

,Attrition_No,Attrition_Yes,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [5]:
# Merge one-hot encoded features and drop the originals
attrition_df = attrition_df.merge(encode_df,left_index=True, right_index=True)
attrition_df = attrition_df.drop(attrition_cat,1)
attrition_df.head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,49,279,8,1,1,2,3,61,2,2,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,37,1373,2,2,1,4,4,92,2,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,33,1392,3,4,1,5,4,56,3,1,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,27,591,2,1,1,7,1,40,3,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [6]:
# Split our preprocessed data into our features and target arrays
y = attrition_df["Attrition_Yes"].values
X = attrition_df.drop(["Attrition_Yes","Attrition_No"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [7]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [8]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 8)                 448
_________________________________________________________________
dense_1 (Dense)              (None, 5)                 45
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 6
=================================================================
Total params: 499
Trainable params: 499
Non-trainable params: 0
_________________________________________________________________

In [9]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [12]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Train on 1102 samples
Epoch 1/100
1102/1102 [==============================] - 0s 102us/sample - loss: 0.4462 - accuracy: 0.8285
Epoch 2/100
1102/1102 [==============================] - 0s 52us/sample - loss: 0.3854 - accuracy: 0.8503
Epoch 3/100
1102/1102 [==============================] - 0s 53us/sample - loss: 0.3562 - accuracy: 0.8557
Epoch 4/100
1102/1102 [==============================] - 0s 53us/sample - loss: 0.3389 - accuracy: 0.8675
Epoch 5/100
1102/1102 [==============================] - 0s 52us/sample - loss: 0.3245 - accuracy: 0.8702
Epoch 6/100
1102/1102 [==============================] - 0s 53us/sample - loss: 0.3138 - accuracy: 0.8784
Epoch 7/100
1102/1102 [==============================] - 0s 53us/sample - loss: 0.3051 - accuracy: 0.8793
Epoch 8/100
1102/1102 [==============================] - 0s 54us/sample - loss: 0.2980 - accuracy: 0.8866
Epoch 9/100
1102/1102 [==============================] - 0s 53us/sample - loss: 0.2921 - accuracy: 0.8875
Epoch 10/100
1102/1102 [==============================] - 0s 53us/sample - loss: 0.2877 - accuracy: 0.8866
Epoch 11/100
1102/1102 [==============================] - 0s 54us/sample - loss: 0.2830 - accuracy: 0.8875
Epoch 12/100
1102/1102 [==============================] - 0s 51us/sample - loss: 0.2794 - accuracy: 0.8857
Epoch 13/100
1102/1102 [==============================] - 0s 52us/sample - loss: 0.2765 - accuracy: 0.8875
Epoch 14/100
1102/1102 [==============================] - 0s 50us/sample - loss: 0.2730 - accuracy: 0.8884
Epoch 15/100
1102/1102 [==============================] - 0s 50us/sample - loss: 0.2698 - accuracy: 0.8902
Epoch 16/100
1102/1102 [==============================] - 0s 53us/sample - loss: 0.2673 - accuracy: 0.8866
Epoch 17/100
1102/1102 [==============================] - 0s 52us/sample - loss: 0.2656 - accuracy: 0.8902
Epoch 18/100
1102/1102 [==============================] - 0s 54us/sample - loss: 0.2635 - accuracy: 0.8902
Epoch 19/100
1102/1102 [==============================] - 0s 53us/sample - loss: 0.2616 - accuracy: 0.8902
Epoch 20/100
1102/1102 [==============================] - 0s 61us/sample - loss: 0.2598 - accuracy: 0.8911
Epoch 21/100
1102/1102 [==============================] - 0s 61us/sample - loss: 0.2583 - accuracy: 0.8902
Epoch 22/100
1102/1102 [==============================] - 0s 61us/sample - loss: 0.2567 - accuracy: 0.8911
Epoch 23/100
1102/1102 [==============================] - 0s 57us/sample - loss: 0.2554 - accuracy: 0.8929
Epoch 24/100
1102/1102 [==============================] - 0s 59us/sample - loss: 0.2543 - accuracy: 0.8947
Epoch 25/100
1102/1102 [==============================] - 0s 55us/sample - loss: 0.2533 - accuracy: 0.8938
Epoch 26/100
1102/1102 [==============================] - 0s 53us/sample - loss: 0.2520 - accuracy: 0.8956
Epoch 27/100
1102/1102 [==============================] - 0s 51us/sample - loss: 0.2509 - accuracy: 0.8956
Epoch 28/100
1102/1102 [==============================] - 0s 52us/sample - loss: 0.2506 - accuracy: 0.8929
Epoch 29/100
1102/1102 [==============================] - 0s 58us/sample - loss: 0.2487 - accuracy: 0.8938
Epoch 30/100
1102/1102 [==============================] - 0s 59us/sample - loss: 0.2488 - accuracy: 0.8975
Epoch 31/100
1102/1102 [==============================] - 0s 53us/sample - loss: 0.2465 - accuracy: 0.8993
Epoch 32/100
1102/1102 [==============================] - 0s 50us/sample - loss: 0.2461 - accuracy: 0.8966
Epoch 33/100
1102/1102 [==============================] - 0s 45us/sample - loss: 0.2449 - accuracy: 0.8975
Epoch 34/100
1102/1102 [==============================] - 0s 46us/sample - loss: 0.2438 - accuracy: 0.8966
Epoch 35/100
1102/1102 [==============================] - 0s 59us/sample - loss: 0.2437 - accuracy: 0.8956
Epoch 36/100
1102/1102 [==============================] - 0s 71us/sample - loss: 0.2424 - accuracy: 0.8975
Epoch 37/100
1102/1102 [==============================] - 0s 58us/sample - loss: 0.2419 - accuracy: 0.8966
Epoch 38/100
1102/1102 [==============================] - 0s 52us/sample - loss: 0.2413 - accuracy: 0.9002
Epoch 39/100
1102/1102 [==============================] - 0s 52us/sample - loss: 0.2402 - accuracy: 0.8984
Epoch 40/100
1102/1102 [==============================] - 0s 54us/sample - loss: 0.2398 - accuracy: 0.8975
Epoch 41/100
1102/1102 [==============================] - 0s 56us/sample - loss: 0.2390 - accuracy: 0.8966
Epoch 42/100
1102/1102 [==============================] - 0s 55us/sample - loss: 0.2386 - accuracy: 0.8975
Epoch 43/100
1102/1102 [==============================] - 0s 53us/sample - loss: 0.2377 - accuracy: 0.8984
Epoch 44/100
1102/1102 [==============================] - 0s 53us/sample - loss: 0.2382 - accuracy: 0.8947
Epoch 45/100
1102/1102 [==============================] - 0s 56us/sample - loss: 0.2375 - accuracy: 0.8975
Epoch 46/100
1102/1102 [==============================] - 0s 57us/sample - loss: 0.2366 - accuracy: 0.8975
Epoch 47/100
1102/1102 [==============================] - 0s 52us/sample - loss: 0.2364 - accuracy: 0.8975
Epoch 48/100
1102/1102 [==============================] - 0s 52us/sample - loss: 0.2355 - accuracy: 0.9002
Epoch 49/100
1102/1102 [==============================] - 0s 53us/sample - loss: 0.2351 - accuracy: 0.8975
Epoch 50/100
1102/1102 [==============================] - 0s 53us/sample - loss: 0.2347 - accuracy: 0.8984
Epoch 51/100
1102/1102 [==============================] - 0s 50us/sample - loss: 0.2340 - accuracy: 0.8993
Epoch 52/100
1102/1102 [==============================] - 0s 46us/sample - loss: 0.2342 - accuracy: 0.8975
Epoch 53/100
1102/1102 [==============================] - 0s 46us/sample - loss: 0.2329 - accuracy: 0.9002
Epoch 54/100
1102/1102 [==============================] - 0s 49us/sample - loss: 0.2326 - accuracy: 0.8993
Epoch 55/100
1102/1102 [==============================] - 0s 48us/sample - loss: 0.2321 - accuracy: 0.8984
Epoch 56/100
1102/1102 [==============================] - 0s 44us/sample - loss: 0.2318 - accuracy: 0.8993
Epoch 57/100
1102/1102 [==============================] - 0s 46us/sample - loss: 0.2318 - accuracy: 0.9029
Epoch 58/100
1102/1102 [==============================] - 0s 45us/sample - loss: 0.2308 - accuracy: 0.8993
Epoch 59/100
1102/1102 [==============================] - 0s 47us/sample - loss: 0.2305 - accuracy: 0.8975
Epoch 60/100
1102/1102 [==============================] - 0s 45us/sample - loss: 0.2300 - accuracy: 0.9020
Epoch 61/100
1102/1102 [==============================] - 0s 57us/sample - loss: 0.2299 - accuracy: 0.9020
Epoch 62/100
1102/1102 [==============================] - 0s 53us/sample - loss: 0.2294 - accuracy: 0.9038
Epoch 63/100
1102/1102 [==============================] - 0s 54us/sample - loss: 0.2285 - accuracy: 0.9029
Epoch 64/100
1102/1102 [==============================] - 0s 59us/sample - loss: 0.2283 - accuracy: 0.9020
Epoch 65/100
1102/1102 [==============================] - 0s 60us/sample - loss: 0.2286 - accuracy: 0.9029
Epoch 66/100
1102/1102 [==============================] - 0s 58us/sample - loss: 0.2278 - accuracy: 0.9020
Epoch 67/100
1102/1102 [==============================] - 0s 62us/sample - loss: 0.2274 - accuracy: 0.9038
Epoch 68/100
1102/1102 [==============================] - 0s 70us/sample - loss: 0.2269 - accuracy: 0.9029
Epoch 69/100
1102/1102 [==============================] - 0s 62us/sample - loss: 0.2264 - accuracy: 0.9029
Epoch 70/100
1102/1102 [==============================] - 0s 59us/sample - loss: 0.2264 - accuracy: 0.9056
Epoch 71/100
1102/1102 [==============================] - 0s 48us/sample - loss: 0.2255 - accuracy: 0.9038
Epoch 72/100
1102/1102 [==============================] - 0s 48us/sample - loss: 0.2251 - accuracy: 0.9074
Epoch 73/100
1102/1102 [==============================] - 0s 51us/sample - loss: 0.2250 - accuracy: 0.9074
Epoch 74/100
1102/1102 [==============================] - 0s 61us/sample - loss: 0.2248 - accuracy: 0.9056
Epoch 75/100
1102/1102 [==============================] - 0s 60us/sample - loss: 0.2243 - accuracy: 0.9056
Epoch 76/100
1102/1102 [==============================] - 0s 55us/sample - loss: 0.2239 - accuracy: 0.9065
Epoch 77/100

1102/1102 [==============================] - 0s 49us/sample - loss: 0.2233 - accuracy: 0.9056
Epoch 78/100
1102/1102 [==============================] - 0s 45us/sample - loss: 0.2228 - accuracy: 0.9056
Epoch 79/100
1102/1102 [==============================] - 0s 44us/sample - loss: 0.2230 - accuracy: 0.9056
Epoch 80/100
1102/1102 [==============================] - 0s 46us/sample - loss: 0.2227 - accuracy: 0.9056
Epoch 81/100
1102/1102 [==============================] - 0s 45us/sample - loss: 0.2220 - accuracy: 0.9074
Epoch 82/100
1102/1102 [==============================] - 0s 47us/sample - loss: 0.2215 - accuracy: 0.9074
Epoch 83/100
1102/1102 [==============================] - 0s 46us/sample - loss: 0.2215 - accuracy: 0.9074
Epoch 84/100
1102/1102 [==============================] - 0s 47us/sample - loss: 0.2207 - accuracy: 0.9065
Epoch 85/100
1102/1102 [==============================] - 0s 45us/sample - loss: 0.2202 - accuracy: 0.9074
Epoch 86/100
1102/1102 [==============================] - 0s 44us/sample - loss: 0.2197 - accuracy: 0.9074
Epoch 87/100
1102/1102 [==============================] - 0s 46us/sample - loss: 0.2200 - accuracy: 0.9074
Epoch 88/100
1102/1102 [==============================] - 0s 54us/sample - loss: 0.2198 - accuracy: 0.9065
Epoch 89/100
1102/1102 [==============================] - 0s 50us/sample - loss: 0.2186 - accuracy: 0.9074
Epoch 90/100
1102/1102 [==============================] - 0s 50us/sample - loss: 0.2184 - accuracy: 0.9074
Epoch 91/100
1102/1102 [==============================] - 0s 46us/sample - loss: 0.2184 - accuracy: 0.9074
Epoch 92/100
1102/1102 [==============================] - 0s 46us/sample - loss: 0.2179 - accuracy: 0.9083
Epoch 93/100
1102/1102 [==============================] - 0s 45us/sample - loss: 0.2174 - accuracy: 0.9074
Epoch 94/100
1102/1102 [==============================] - 0s 52us/sample - loss: 0.2170 - accuracy: 0.9102
Epoch 95/100
1102/1102 [==============================] - 0s 58us/sample - loss: 0.2165 - accuracy: 0.9065
Epoch 96/100
1102/1102 [==============================] - 0s 54us/sample - loss: 0.2163 - accuracy: 0.9074
Epoch 97/100
1102/1102 [==============================] - 0s 52us/sample - loss: 0.2159 - accuracy: 0.9074
Epoch 98/100
1102/1102 [==============================] - 0s 50us/sample - loss: 0.2152 - accuracy: 0.9093
Epoch 99/100
1102/1102 [==============================] - 0s 55us/sample - loss: 0.2148 - accuracy: 0.9065
Epoch 100/100
1102/1102 [==============================] - 0s 55us/sample - loss: 0.2151 - accuracy: 0.9065

In [13]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

368/1 - 0s - loss: 0.1769 - accuracy: 0.8940
Loss: 0.31459646283284476, Accuracy: 0.89402174949646