## Challenge part 2. Create a new city search based on two weather parameters for a customer's vacation with pop-up markers.

---
1. Import the WeatherPy_database.csv file. 
2. Create a user input to filter the new DataFrame based on the preferred temperature range and whether or not the customer wants it to be raining based on the rain or snow in the last hour.  
3. Add the cities to a marker layer map with a pop-up marker for each city that includes; 
    - The hotel name
    - The city
    - The country
    - The current weather description and the maximum temperature. 
4. Save the new DataFrame as a CSV file. 
5. Save the map for you new search.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

In [2]:
# Import the new cities CSV file with the weather descriptions, rain and snow data. 
city_data_df = pd.read_csv("data/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches)
0,0,Valparaiso,CL,-33.04,-71.63,69.80,28,21,4.70,few clouds,0.0,0.0
1,1,Leningradskiy,RU,69.38,178.42,24.84,98,98,3.76,overcast clouds,0.0,0.0
2,2,Tuatapere,NZ,-46.13,167.68,47.46,82,99,4.76,overcast clouds,0.0,0.0
3,3,Nakambala,ZM,-15.83,27.78,69.04,31,0,3.76,clear sky,0.0,0.0
4,4,Mataura,NZ,-46.19,168.86,42.12,86,97,3.06,overcast clouds,0.0,0.0

In [3]:
# Check the data types
city_data_df.dtypes

City_ID                  int64
City                    object
Country                 object
Lat                    float64
Lng                    float64
Max Temp               float64
Humidity                 int64
Cloudiness               int64
Wind Speed             float64
Current Description     object
Rain (inches)          float64
Snow (inches)          float64
dtype: object

In [4]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [5]:
# Enter max temperature criteria. 
min_temp = float(input("What is the minimum temperature you would like for your vacation? "))
max_temp = float(input("What is the maximum temperature you would like for your vacation? "))

What is the minimum temperature you would like for your vacation? 60
What is the maximum temperature you would like for your vacation? 80

In [6]:
# Ask the customer if you they want it to be raining. 
rain_amount = input("Do you want it to be raining? (yes/no) ")

Do you want it to be raining? (yes/no) no

In [7]:
# Ask the customer if you they want it to be snowing. 
snow_amount = input("Do you want it to be snowing? (yes/no) ")

Do you want it to be snowing? (yes/no) no

In [8]:
# Narrow down cities that fit criteria
if rain_amount == "no" and snow_amount == "no":
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Rain (inches)"] == 0) &
                                         (city_data_df["Snow (inches)"] == 0)]
    
elif rain_amount == "no" and snow_amount == "yes":
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Rain (inches)"] == 0) &
                                         (city_data_df["Snow (inches)"] > 0.0)]
    
elif rain_amount == "yes" and snow_amount == "no":
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Rain (inches)"] > 0.0) &
                                         (city_data_df["Snow (inches)"] == 0)]
    
else:
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Rain (inches)"] > 0.0) &
                                         (city_data_df["Snow (inches)"] > 0)]

In [9]:
filtered_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches)
0,0,Valparaiso,CL,-33.04,-71.63,69.80,28,21,4.70,few clouds,0.0,0.0
3,3,Nakambala,ZM,-15.83,27.78,69.04,31,0,3.76,clear sky,0.0,0.0
5,5,Port Alfred,ZA,-33.59,26.89,64.99,76,9,7.00,clear sky,0.0,0.0
7,7,Coquimbo,CL,-29.95,-71.34,60.80,67,21,8.05,few clouds,0.0,0.0
8,8,Antalaha,MG,-14.90,50.28,74.16,73,69,7.02,broken clouds,0.0,0.0
14,14,Carnarvon,AU,-24.87,113.63,71.56,61,0,11.63,clear sky,0.0,0.0
15,15,Aguimes,ES,27.91,-15.45,73.40,64,40,9.17,scattered clouds,0.0,0.0
16,16,Lokosovo,RU,61.13,74.82,63.90,50,45,10.60,scattered clouds,0.0,0.0
17,17,Pisco,PE,-13.70,-76.22,69.80,73,2,6.93,clear sky,0.0,0.0
21,21,Miraflores,MX,19.22,-98.81,71.60,33,5,3.36,clear sky,0.0,0.0

In [10]:
filtered_cities_df.count()

City_ID                181
City                   181
Country                178
Lat                    181
Lng                    181
Max Temp               181
Humidity               181
Cloudiness             181
Wind Speed             181
Current Description    181
Rain (inches)          181
Snow (inches)          181
dtype: int64

In [11]:
# Drop any empty rows and make a new DataFrame.
clean_travel_cities = filtered_cities_df.dropna()
clean_travel_cities.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches)
0,0,Valparaiso,CL,-33.04,-71.63,69.80,28,21,4.70,few clouds,0.0,0.0
3,3,Nakambala,ZM,-15.83,27.78,69.04,31,0,3.76,clear sky,0.0,0.0
5,5,Port Alfred,ZA,-33.59,26.89,64.99,76,9,7.00,clear sky,0.0,0.0
7,7,Coquimbo,CL,-29.95,-71.34,60.80,67,21,8.05,few clouds,0.0,0.0
8,8,Antalaha,MG,-14.90,50.28,74.16,73,69,7.02,broken clouds,0.0,0.0

In [12]:
clean_travel_cities.count()

City_ID                178
City                   178
Country                178
Lat                    178
Lng                    178
Max Temp               178
Humidity               178
Cloudiness             178
Wind Speed             178
Current Description    178
Rain (inches)          178
Snow (inches)          178
dtype: int64

In [13]:
clean_travel_cities.columns

Index(['City_ID', 'City', 'Country', 'Lat', 'Lng', 'Max Temp', 'Humidity',
       'Cloudiness', 'Wind Speed', 'Current Description', 'Rain (inches)',
       'Snow (inches)'],
      dtype='object')

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on a map.

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Valparaiso,CL,69.80,few clouds,-33.04,-71.63,
3,Nakambala,ZM,69.04,clear sky,-15.83,27.78,
5,Port Alfred,ZA,64.99,clear sky,-33.59,26.89,
7,Coquimbo,CL,60.80,few clouds,-29.95,-71.34,
8,Antalaha,MG,74.16,broken clouds,-14.90,50.28,
14,Carnarvon,AU,71.56,clear sky,-24.87,113.63,
15,Aguimes,ES,73.40,scattered clouds,27.91,-15.45,
16,Lokosovo,RU,63.90,scattered clouds,61.13,74.82,
17,Pisco,PE,69.80,clear sky,-13.70,-76.22,
21,Miraflores,MX,71.60,clear sky,19.22,-98.81,

In [15]:
# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through 
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make request and get the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Valparaiso,CL,69.80,few clouds,-33.04,-71.63,Hotel Ultramar
3,Nakambala,ZM,69.04,clear sky,-15.83,27.78,Staff Area
5,Port Alfred,ZA,64.99,clear sky,-33.59,26.89,The Halyards Hotel
7,Coquimbo,CL,60.80,few clouds,-29.95,-71.34,Hotel San Juan
8,Antalaha,MG,74.16,broken clouds,-14.90,50.28,Hotel Vitasoa
14,Carnarvon,AU,71.56,clear sky,-24.87,113.63,Hospitality Carnarvon
15,Aguimes,ES,73.40,scattered clouds,27.91,-15.45,Hotel Villa de Aguimes
16,Lokosovo,RU,63.90,scattered clouds,61.13,74.82,
17,Pisco,PE,69.80,clear sky,-13.70,-76.22,Hostal San Isidro Oficial
21,Miraflores,MX,71.60,clear sky,19.22,-98.81,Hotel Mansión

In [17]:
# Create the output File (CSV)
output_data_file = "data/WeatherPy_vacation.csv"
# Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

###  Add a pop-up markers to each city. 
---
#### In the pop-up for each city add: 
1. The city name
2. The country code
3. The weather description and maximum temperature for the city

In [18]:
vacation_df = pd.read_csv("data/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Valparaiso,CL,69.80,few clouds,-33.04,-71.63,Hotel Ultramar
1,3,Nakambala,ZM,69.04,clear sky,-15.83,27.78,Staff Area
2,5,Port Alfred,ZA,64.99,clear sky,-33.59,26.89,The Halyards Hotel
3,7,Coquimbo,CL,60.80,few clouds,-29.95,-71.34,Hotel San Juan
4,8,Antalaha,MG,74.16,broken clouds,-14.90,50.28,Hotel Vitasoa

In [19]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
locations = vacation_df[["Lat", "Lng"]]

In [20]:
# Add marker layer. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))