In [1]:
import pandas as pd
pd.options.display.max_colwidth = 100

In [2]:
# load in English words list
sherlock_file = '../Resources/sherlock.txt'

sherlock_df = pd.read_csv(sherlock_file, sep='\n', header=None)
sherlock_df.columns = ['text']
sherlock_df.head()

                                text
0  The Adventures of Sherlock Holmes
1              by Arthur Conan Doyle
2                           Contents
3        I.     A Scandal in Bohemia
4       II.    The Red-Headed League

In [9]:
# find all lines of text with the strings 'bought', 'fought', and 'sought'
p = '[bfs]ought'
sherlock_df[sherlock_df['text'].str.contains(p)]

                                                                         text
142        be bought under half a crown a packet. It is peculiarly strong and
297                               “Your Majesty must pay. It must be bought.”
1135    determined to have a look at it anyhow, so I bought a penny bottle of
3011    quiet and respectable life. I bought this estate, which chanced to be
3196    the time of the war he fought in Jackson’s army, and afterwards under
3488    which have baffled all those who have sought a solution by the aid of
6399  “‘Some little time ago I bought a small place—a very small place—within

In [10]:
# find all lines of text with the strings 'bought', 'fought', and 'sought' that end with a period
# note: we need to escape the period with a backslash
p = '[bfs]ought\.'
sherlock_df[sherlock_df['text'].str.contains(p)]

                                            text
297  “Your Majesty must pay. It must be bought.”

In [22]:
# find every instance of the word "clue" followed by any character
p = '\Wclue.\W'
sherlock_df[sherlock_df['text'].str.contains(p)]

                                                                         text
44            observation in following out those clues, and clearing up those
1600        of this tangled clue. Then I made inquiries as to this mysterious
2053   he held in his hands all the clues which would lead up to the identity
3529       “Excellent. We have already a clue. There can be no doubt that the
3675                                                       “You have a clue?”
6252  with which to back it up; and, even if they believe me, the clues which