In [1]:
import pandas as pd
import re
pd.options.display.max_colwidth = 100

In [2]:
# load in Sherlock Holmes text
sherlock_file = '../Resources/sherlock.txt'

sherlock_df = pd.read_csv(sherlock_file, sep='\n', header=None)
sherlock_df.columns = ['text']
sherlock_df.head()

                                text
0  The Adventures of Sherlock Holmes
1              by Arthur Conan Doyle
2                           Contents
3        I.     A Scandal in Bohemia
4       II.    The Red-Headed League

In [18]:
# extract all words that start with 'z'
p = '\W(z\w*)\W'
sherlock_df['text'].str.extractall(p, flags=re.I).dropna()

                  0
     match
1777 0      Zealand
3500 0         zero
5678 0         zest
8514 0         zero

In [29]:
# Find all the words 6 letters or longer that come after "Holmes" in the text and count their frequency
p = '(?:Holmes)(\s*\w{6,})'
sherlock_df['text'].str.extractall(p, flags=re.I)[0].value_counts()

 quietly         4
 turned          3
 returned        3
 pushed          3
 answered        3
 laughed         3
 blandly         3
 sprang          3
 suavely         2
 chuckled        2
 walked          2
 pulled          2
 clapped         2
 leaned          2
 cheerily        2
 gravely         2
 changed         1
 hailed          1
 impatient       1
 gently          1
 stopped         1
 twisted         1
 closed          1
 glanced         1
 struck          1
 unlocked        1
 interposed      1
 sternly         1
 caught          1
 coldly          1
 nodded          1
 grinned         1
 lately          1
 demurely        1
 continued       1
 laying          1
 remarked        1
 standing        1
 sweetly         1
 before          1
 rushed          1
 stepped         1
 without         1
 thrust          1
 seemed          1
 looked          1
 calmly          1
 refused         1
 suddenly        1
 staggered       1
 carelessly      1
 thoughtfully    1
 welcomed        1
 desired         1
 scribbled       1
Name: 0, dtype: int64

In [31]:
# Find all the words 6 letters or longer that don't end in "ly" that come after "Holmes" in the text and count their frequency
p = '(?:holmes)(?!.+ly)(\s*\w{6,})'
sherlock_df['text'].str.extractall(p, flags=re.I)[0].value_counts()

 answered      3
 returned      3
 pushed        3
 turned        3
 pulled        2
 sprang        2
 laughed       2
 desired       1
 nodded        1
 chuckled      1
 thrust        1
 stopped       1
 refused       1
 struck        1
 walked        1
 continued     1
 unlocked      1
 staggered     1
 clapped       1
 changed       1
 interposed    1
 welcomed      1
 rushed        1
 before        1
 twisted       1
 leaned        1
 without       1
 impatient     1
 hailed        1
 caught        1
 remarked      1
 closed        1
 laying        1
 grinned       1
 scribbled     1
Name: 0, dtype: int64